*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
   overflow-x: hidden;

}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*default ito*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: white;
  
  
}

#ccslogo{
    height: 50px;
}

#menu li{
    list-style: none;
    display: inline;
    margin: 20px;
    
}

#menu a{
    color: #555555;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh; 
    position: relative;
}

#home{
    
    background-size: cover;
  
    background-image: url(images/studbuil.png);
}

#about{
    background-color: #f5f2eb;
    background-image: url(/images/lines2.jpg);
    background-size: cover;
}

#courses{
    background-color: #ACE2E1;
    background-image: url(images/it-connect1.png);
    background-size: cover;
}

#gallery{
    background-color: #e0e0e0;
}

#footer{
    background-color: #141414;
    height: 40vh;
   color: white;
}

.s1container{
  
   width: 100%;
   height: 110px;
   margin-top: 20%;
   display: flex;
   align-items: center;
   margin-left: 10%;
 
}


.s2container{
  
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    

 }

#greetext1{
    color: #f5f2eb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;

}

#greetext2{
    color: #f5f2eb;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    
}

#about-text{
    margin-top: 10%;
    text-align: center;
    font-size: 30px;
    color: rgb(70, 70, 70);
    
 }

.gencontainer{
   
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#vidcon{
 
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#abtextcon{
    width: 40%;
}

#video1{
   border-radius: 30px;
    overflow: hidden; 
    width: 500px;
}

p{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    color:  rgb(70, 70, 70);;
}

#coursestext{
   margin-top: 10%;
   text-align: center;
   font-size: 30px;
   color: white;
   
}



.coursescon{
 
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#c1,#c2{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 80%;
    margin: 40px;
    border-radius: 20px;
  

}
#it-text, #cs-text{
    color: rgb(70, 70, 70);
    padding: 50px;
    padding-top: 20px;
    font-size: 13px;
}

.ctitle{
    color: rgb(70, 70, 70);
    text-align: center;
    margin-top: 20px;
}

#gallery-text{
    margin-top: 10%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: rgb(70, 70, 70);
    
 }


 .gallery {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 35rem;
	margin: 0 auto;
  
}

.slider {
	display: flex;
	aspect-ratio: 4.5 / 3;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
   
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

#atd-text{
    margin-top: 5%;
    text-align: center;
    font-size: 25px;
    color:  #666666;;
}

#pdeveloper, #content-ref{
    color: #666666;
    text-align: center;
    text-indent: 0;
    font-size: 13px;
}